extends layouts/main

block content
    .form-container
        .firm-container_login
            .title
                |Login Now
            .body
                form(action=routes.login, method="post")
                    input(type="email", name="email", placeholder="Email", required=true)
                    input(type="password", name="password", placeholder="Password", required=true)
                    input(type="submit", value="log in")
                    .social
                        include partials/socialLogin